#operate{
	width: 100%;
	overflow: hidden;
}
.operate_search{
	width: 100%;
	height: 45px;
	margin: 0 auto;
}
.operate_search .pos-one{
	float: left;
	margin:10px 0 0 0;
}
#operate .table_style tr th:nth-child(1){
	width: 60px;
}
#operate .table_style tr th:nth-child(2){
	width: 814px;
}
#operate .table_style tr th:nth-child(3){
	width: 60px;
}
#operate .table_style tr input{
	margin-right: 10px;
}
.operate_search .pos-three{
	width: 270px;
	height: 39px;
	float: left;
	margin-top: 3px;
}
.operate_search .pos-four{
	margin-left: 10px;
	float: left;
	margin-top: 10px;
}
